.evenement {
  padding: 50px 20px;
  h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .evenement {
    max-width: 1200px;
    margin: auto;
    h2 {
      margin-bottom: 30px;
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.8rem;
    }
  }
}
