@import '../../app/styles/variables';
.swiper {

    .swiper-button-prev, .swiper-button-next {
        &:after {
           font-size: 1.2rem;
           color: $tertiary-color;
           font-weight: 700;
        }
    }
    .swiper-pagination-bullet-active {
        background: $primary-color;
    }
}