@import "../../app/styles/variables";

.contactForm {
  font-size: 1.1rem;
  .gender {
    display: flex;
    justify-content: center;

    &Input {
      display: flex;
      align-items: center;
      margin: 10px;
      font-weight: 500;

      label {
        margin-left: 5px;
      }
    }
  }
  .firstnameInput,
  .lastnameInput,
  .emailInput,
  .phoneInput,
  .subjectInput,
  .messageInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    input,
    textarea {
      width: 100%;
      border: none;
      box-shadow: $box-shadow;
      border-radius: 10px;
      padding: 10px;
      font-size: 1rem;
      font-family: $primary-font;
    }

    label {
      margin: 10px 0 5px 0;
      font-weight: 500;
    }
  }
  button {
    width: 100%;
    padding: 7px;
    margin-top: 20px;
    border: none;
    background: $primary-color;
    color: $tertiary-color;
    font-size: 1.05rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &:hover {
        transform: scale(1.01);
    }
  }
  .notificationMessage {
    margin-top: 20px;
  }
}
