@import "../styles/variables";

.products {
  padding: 50px 20px;
  h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  article {
    position: relative;
    width: 100%;
    margin-bottom: 10px;

    .photo {
      object-fit: cover;
      width: 100%;
    }

    .hover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $tertiary-color;
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .products {
    max-width: 1200px;
    margin: auto;

    h2 {
      margin-bottom: 30px;
      font-size: 2.5rem;
    }

    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      article {
        max-width: 400px;
        margin: 20px;
        cursor: pointer;

        &:hover {
          .hover {
            display: block;
          }
        }

        .hover {
          display: none;
        }
      }
    }
  }
}
