@import "../styles/variables";

.contact {
  padding: 50px 20px;
  h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }
  .phone,
  .email {
    background: $secondary-color;
    padding: 20px;
    text-align: center;
    box-shadow: $box-shadow;
    border-radius: 10px;
    margin: 20px 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      .icon {
        margin-right: 15px;
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: $primary-color;
    }
  }
  
}

@media screen and (min-width: 992px) {
  .contact {
    max-width: 1200px;
    margin: auto;

    h2 {
      margin-bottom: 30px;
      font-size: 2.5rem;
    }

    .phone,
  .email { 
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 0 20px;
  }
  }
}
