@import "../../app/styles/variables";

.addProduct {
  background: $secondary-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: $primary-color;
    color: $tertiary-color;
  }
  h3 {
    margin-bottom: 10px;
    font-weight: 600;
  }
}

@media screen and (min-width: 992px) {
  .addProduct {
    font-size: 1.5rem;

    h3 {
      margin-bottom: 20px;
    }
  }
}
